<link rel='stylesheet' href='/stylesheets/home.css'/>


<div class="root">
    <div class="navbar-fixed">
        <nav class="deep-purple darken-4 z-depth-0">
            <div class="nav-wrapper">

                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <a href="#" class="brand-logo quicksand-font "> {{titlebar}} </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <li><a href="collapsible.html"> <i class="material-icons">message</i></a></li>
                </ul>

            </div>
        </nav>
    </div>

    <ul id="slide-out" class="sidenav sidenav-fixed z-depth-0 grey darken-4  ">


        <li><p style="font-size: 50px" class="center-align bold deep-purple-text darken-4 ">PackSys</p></li>

        <li>
            <div class="user-view">
                <p href="#name"><span class="white-text name">John Doe</span></p>
                <p href="#email"><span class="white-text email">jdandturk@gmail.com</span></p>
            </div>
        </li>


        <li><a class="white-text" href="./apps"><i class="material-icons white-text">add_shopping_cart</i>Modulos
            disponíveis</a></li>

        <li><a class="white-text" href="./myapps"><i class="material-icons white-text">shopping_cart</i>Meus modulos</a></li>

        <li><a class="white-text" href="#!"><i class="material-icons white-text">money</i>Pagamentos</a></li>

        <li><a class="white-text" href="#!"><i class="material-icons white-text">settings</i>Configurações</a></li>

        <li><a class="white-text" href="#!"><i class="material-icons white-text">phonelink_erase</i>Sair</a></li>

    </ul>



    {{> (whichPartial) }}


</div>

<script type="application/javascript" src="/javascripts/home.js"></script>