
<nav class="deep-purple darken-4 z-depth-0">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">PackSys </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="badges.html"> <i class="material-icons">add</i></a></li>
            <li><a href="collapsible.html"> <i class="material-icons">add</i></a></li>
        </ul>
    </div>
</nav>


<div class="row   ">

    <div class="col m8">

        <div class="row magin-top-100">

            <h2 class=" bold center-align deep-purple-text darken-4 "> PackSys </h2>







            <h4 class=" center-align   "> Custrução sobre medida </h4>

            <h6 class=" quicksand-font center-align  "> Nos cronstruimos o seu projeto web ou mobile e hospedamos no nossos servidores </h6>

        </div>


    </div>

    <div class="col m4">


        <div class="card-panel col m8 offset-m2 magin-top-100">

            <div class="row">

                <h5 class="quicksand-font  center-align">Seja bem vindo</h5>

            </div>

            <form>
                <div class="row">
                    <div class="input-field col m12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field col m12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="icon_telephone" type="password" class="validate">
                        <label for="icon_telephone">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <button type="submit"
                                class=" col m12 s12 waves-effect white-text waves-light btn deep-purple darken-4">
                            Logar
                        </button>

                    </div>
                </div>

            </form>

            <div class="row">
                <div class="container">
                    <button type="submit"
                            class=" col m12 s12 waves-effect white-text waves-light btn light-green accent-4"> Criar
                        uma conta
                    </button>

                </div>
            </div>

            <div class="row">

                <center><a class="center-align">Esqueci minha senha</a></center>


            </div>


        </div>
    </div>

</div>



<canvas  id="c"></canvas>


<div class="row deep-purple darken-4 ">

    <div class="row">
        <h4 class=" bold center-align white-text padding-top-50"> Confira nossos preços</h4>

    </div>


    <div class="row">

        <div class="carousel carousel-slider ">
            <div class="carousel-item carousel-fixed-item" >

                <div class="col m12 s12">

                    <div class="col m4 s12">
                        <div class="card-panel">


                            <h5>PDV lite</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Pro</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>


                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Full</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                </div>


            </div>

            <div class="carousel-item carousel-fixed-item" >

                <div class="col m12 s12">

                    <div class="col m4 s12">
                        <div class="card-panel">


                            <h5>PDV lite</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Pro</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>


                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Full</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                </div>



            </div>

            <div class="carousel-item carousel-fixed-item" >

                <div class="col m12 s12">

                    <div class="col m4 s12">
                        <div class="card-panel">


                            <h5>PDV lite</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Pro</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>


                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Full</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                </div>



            </div>


            <div class="carousel-item carousel-fixed-item" >

                <div class="col m12 s12">

                    <div class="col m4 s12">
                        <div class="card-panel">


                            <h5>PDV lite</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Pro</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>


                    <div class="col m4 s12">
                        <div class="card-panel">

                            <h5>PDV Full</h5>
                            <h4 class="green-text bold">R$39.00 por més</h4>
                            <p> Ate 4 administradores</p>
                            <p> Criação de 50 categorias</p>
                            <p> Cupom não fiscal</p>

                            <button class=" waves-light btn deep-purple darken-4 ">Adquira Já</button>

                        </div>
                    </div>

                </div>



            </div>

        </div>





    </div>


</div>




<div class="row magin-top-100">

    <h4 class=" bold center-align deep-purple-text darken-4 "> Possuimos varios sistemas
        integrados </h4>
    <h6 class=" quicksand-font center-align  "> Tudo de forma simples e adequado para o seu empreendimento </h6>


    <div class="col m4 s12 magin-top-50">

        <div class="row center">

            <i class="material-icons large">shopping_cart</i>
        </div>

        <div class="row center">
            <h5 class="quicksand-font">PDVs</h5>
            <p class="quicksand-font"> Delivery com otimo desemprenho e confiebilidade com aplicativos mobile opcionais </p>

        </div>


    </div>

    <div class="col m4 s12 magin-top-50">

        <div class="row center">

            <i class="material-icons large">directions_car</i>
        </div>

        <div class="row center">
            <h5 class="quicksand-font">Guarda carros</h5>
            <p class="quicksand-font"> Delivery com otimo desemprenho e confiebilidade com aplicativos mobile opcionais </p>

        </div>


    </div>

    <div class="col m4 s12 magin-top-50">

        <div class="row center">

            <i class="material-icons large">shopping_basket</i>
        </div>

        <div class="row center">
            <h5 class="quicksand-font" >Delivery </h5>
            <p class="quicksand-font"> Delivery com otimo desemprenho e confiebilidade com aplicativos mobile opcionais </p>
        </div>


    </div>




</div>


<div class="row magin-top-100">

    <h4 class=" bold center-align deep-purple-text darken-4 "> Nossos Clientes</h4>


    <div class="col m4 s12 magin-top-50">

        <div class="row center">

            <i class="material-icons large">shopping_cart</i>
        </div>




    </div>

    <div class="col m4 s12 magin-top-50">

        <div class="row center">

            <i class="material-icons large">directions_car</i>
        </div>




    </div>

    <div class="col m4 s12 magin-top-50">

        <div class="row center">

            <i class="material-icons large">shopping_basket</i>
        </div>



    </div>




</div>





<footer class="page-footer black fcc">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>



<script type="application/javascript" src="/javascripts/three.js"></script>
<script type="application/javascript" src="/javascripts/wave3d.js"></script>
<script type="application/javascript" src="/javascripts/waves.js"></script>
<script type="application/javascript" src="/javascripts/index.js"></script>