<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
      <link rel="stylesheet" href="/materialize-css/dist/css/materialize.css"/>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/textfield.css' />
  </head>

  <body>





    {{{body}}}







  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="application/javascript" src="/materialize-css/dist/js/materialize.js"></script>





</html>
