.root {
    padding-left: 300px;
}

#nav-mobile{
    margin-right: 300px;
}

@media only screen and (max-width : 992px) {
    .root {
        padding-left: 0;
    }

    #nav-mobile{
        margin-right: 0;
    }
}