body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #4a148c;
}

.magin-top-100{
  margin-top: 100px;
}

.magin-top-50{
  margin-top: 50px;
}

.padding-top-100{
  padding-top: 100px;
}

.padding-top-50{
  padding-top: 50px;
}


.bold {
  font-family: Roboto Condensed, sans-serif;

}

.quicksand-font {
  font-family: Quicksand;
}

/* CUSTON */
.btn{
  text-transform: none !important
}

.brand-logo{
  margin-left: 60px;
}

.fundo {

  background-color: #4a148c;

}

.imagefundo{

  background-color: #311b92;
}

.no-padding {
  margin:0px !important}

#c{
width: 100%;
  margin-bottom: -50px;
display: block;
}



.root {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .root {
    padding-left: 0;
  }
}