/* label color */
.input-field label {
    color: gray !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #4a148c !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0  #4a148c !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #4a148c !important;
}










.input-field input[type=password]:focus + label {
    color: #4a148c !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0  #4a148c !important;
}
/* valid color */
.input-field input[type=password].valid {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
}
/* invalid color */
.input-field input[type=password].invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}