


    <canvas id="c"></canvas>
    <div class="row deep-purple darken-4 ">

        <div class="row">
            <h4 class=" bold center-align white-text padding-top-50"> Confira nossos preços</h4>

        </div>


        <div class="row">

            <div class="col m12 s12">

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">


                        <h5>PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <p> Ate 4 administradores</p>
                        <p> Criação de 50 categorias</p>
                        <p> Cupom não fiscal</p>

                        <button class=" waves-light waves-effect btn deep-purple darken-4 ">Adquira Já</button>

                    </div>
                </div>

            </div>


        </div>


    </div>

</div>

<script type="application/javascript" src="/javascripts/waves.js"></script>