<div class="row">


    <div class="container">

        <div style="border-radius: 20px ; padding: 5px " class="card-panel yellow lighten-3 z-depth-0 ">


            <label style="margin-left: 50px ;" class="  black-text ">Meus  modulos disponiveis</label>


        </div>

    </div>

    <h6 style="margin-left: 50px ;" class=" quicksand-font   ">Meus  modulos disponiveis</h6>



    <div class="divider"></div>

    <div class="container">

        <div class="col m12 s12">
            <div class="card-panel">

                <div class="row">

                    <div class="col s12 m9">

                        <h5 class="bold" >PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <label> Data da contratação</label>
                        <p> 15/06/2020</p>
                        <label> Debito automatico</label>
                        <p> Sim</p>
                        <label> pacotes do  sistema </label>
                        <p> 50 categorias - Cupom não fiscal - crédiario</p>

                    </div>

                    <div class="col s12 m3">

                        <div class="row">
                            <a title="acessar o sistema" class="waves-effect btn-large white waves-purple btn magin-top-50"><i class="material-icons large center deep-purple-text">open_in_new</i></a>

                        </div>
                        <div class="row">
                        <label> Saldo de crédito</label>
                        <h4 class="green-text bold">R$39.00</h4>
                        </div>
                    </div>

                </div>



                <div class="row">

                    <div class="left">


                        <button class=" waves-light waves-effect btn red darken-4 ">Cancelar assinatura</button>
                        <button class=" waves-light waves-effect btn green darken-4 ">Pagamentos do sistema</button>

                    </div>
                </div>


            </div>
        </div>

        <div class="col m12 s12">
            <div class="card-panel">

                <div class="row">

                    <div class="col s12 m9">

                        <h5 class="bold" >PDV lite</h5>
                        <h4 class="green-text bold">R$39.00 por més</h4>
                        <label> Data da contratação</label>
                        <p> 15/06/2020</p>
                        <label> Debito automatico</label>
                        <p> Sim</p>
                        <label> pacotes do  sistema </label>
                        <p> 50 categorias - Cupom não fiscal - crédiario</p>

                    </div>

                    <div class="col s12 m3">

                        <a title="acessar o sistema" class="waves-effect btn-large white waves-purple btn magin-top-50"><i class="material-icons large center deep-purple-text">open_in_new</i></a>


                    </div>

                </div>



                <div class="row">

                    <div class="left">


                        <button class=" waves-light waves-effect btn red darken-4 ">Cancelar assinatura</button>
                        <button class=" waves-light waves-effect btn green darken-4 ">Pagamentos do sistema</button>

                    </div>
                </div>


            </div>
        </div>

    </div>




</div>